<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Balances{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <h1 class="h1 text-center pb-2">Customers' Balances</h1>

  {% if customers_balance %}
  <ul>
    {% for balance in customers_balance %}
    <table class="table">
      <tr>
        <th>Customer Name</th>
        <th>Current Balance</th>
      </tr>
      <tr>
        <td>{{ balance.full_name }}</td>
        <td>{{ balance.balance }}</td>

      </tr>
    </table>
    {% endfor %}
  </ul>
  {% else %}
  <p>No customers' balances available.</p>
  {% endif %}
</body>

</html>